header{
  color: white;
}
.outline {
  width: 500px;
  height: 800px;
  border: 2px solid rgb(52, 38, 102);
  border-radius: 5px;
  background-color: rgb(52, 38, 102);
  color: whitesmoke;
  font-size: larger;
  display: flex;
  flex-direction: column;
  box-shadow: 10px 10px 5px 14px rgba(0, 0, 0, 75);
}
